html{
    background: radial-gradient(#e8edf3,gray);
    background: -webkit-radial-gradient(#e8edf3,gray);
    background: -moz-radial-gradient(#e8edf3,gray);
    background: -o-radial-gradient(#e8edf3,gray);
}
#container {
    height: 600px;
    width: 750px;
    border: 1px solid;
    margin: 10px auto;
    background-color: #98dafc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 10px gray;
    -webkit-box-shadow: 4px 4px 10px 10px gray;
    -moz-box-shadow: 4px 4px 10px 10px gray;
/*    box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
}


#questionDisplay {

    height: 400px;
    width: 650px;
    
    margin: 35px auto;
    
    box-shadow: 0px 4px #bba225;
    -webkit-box-shadow: 0px 4px #bba225;
    -moz-box-shadow: 0px 4px #bba225;
    background: white;
    
    font-size: 5em;
    text-align: center;
    color: black;
    overflow: hidden;
    position: relative;
    
    
    
    
    
}


#notificationbox {
/*    border: 1px solid;*/
    width: 500px;
    height: 45px;
    margin: 20px auto;
    /* padding: 5px; */
    
    box-shadow: 0px 4px gray;
    -webkit-box-shadow: 0px 4px gray;
    -moz-box-shadow: 0px 4px gray;
    background: #b0aac2;
    text-align: center;
    font-size: 20px;
}


#choices {
/*    border: 1px solid;*/
    width: 80%;
    height: 25%;
    margin: 5px auto;
}

#score {
    float: right;
    width: 80px;
    height: 20px;
    
    padding: 3px;
    background: #f1e06e;
    box-shadow: 0px 3px #b9a20c;
    -moz-box-shadow: 0px 3px #b9a20c;
    -webkit-box-shadow: 0px 3px #b9a20c;
}

#correct {
    position: absolute;
    padding: 5px;
    background: green;
    margin: 0 auto;
    left: 680px;
    display: none;
    
}

#wrong {
    position: absolute;
    padding: 5px;
    background: red;
    left: 680px;
    display: none;
}

#gameover {

    width: 500px;
    height: 200px;
    position: absolute;
    left: 220px;
    top: 150px;
    background: linear-gradient(to top, #bf510c,#f8b58b);
    background: -webkit-linear-gradient(to top, #bf510c,#f8b58b);
    background: -moz-linear-gradient(to top, #bf510c,#f8b58b);
    background: -o-linear-gradient(to top, #bf510c,#f8b58b);

    z-index: 1;
    text-align: center;
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    display: none;
    
}

/*
#reset {
    left: 660px;
    bottom: 10px;
    
    
    
}
*/

#counter {
    position: absolute;
    top: 10px;
    width: 80px;
    height: 20px;
    margin-top: 30px;
    background: #f1e06e;
    font-size: 20px;
    padding: 3px;
    box-shadow: 0px 3px #b9a20c;
    -moz-box-shadow: 0px 3px #b9a20c;
    -webkit-box-shadow: 0px 3px #b9a20c;
    display: none;
    
   
}

#button {
    font-size: 20px;
    background: #adcfe0;
    border-radius: 10px;
    box-shadow: 0px 3px gray;
    -webkit-box-shadow: 0px 3px gray;
    -moz-box-shadow: 0px 3px gray;
    position: relative;
    margin-left: 320px;
    margin-top: 20px;
/*    display: inline;*/
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -woz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
}

#button:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3;
    -moz-box-shadow: 0px 4px #6b54d3;
    
}

#button:active{
    background-color: #9C89F6;
    color: white;
    -webkit-box-shadow: 0px 3px #6b54d3;
    -moz-box-shadow: 0px 3px #6b54d3;
    box-shadow: 0px 3px #6b54d3;
    top: 3px;
    
}


.life{
    width: 16px;
    height: 18px;
    margin: 0 5px;
}

#fruit1{
    position: absolute;
}


